@media screen and (min-width: 576px) {
    .sidebar {
        flex-basis: 250px;
        padding: 10px 20px;
    }

    .hidden {
        display: block;
    }

    .download {
        color: var(--text-grey);
        border-bottom: 1px solid var(--text-grey);
        padding: 10px 0;
    }

    .sidebar-bottom {
        left: 20px;
    }

    #small-logo {
        display: none;
    }

    #big-logo {
        min-width: 160px;
    }

}

@media screen and (min-width: 850px) {

    /* Column f-basis */

    .col-md-16 {
        flex-basis: calc(100% / 6);
    }

    .col-md-20 {
        flex-basis: 20%;
    }

    .col-md-25 {
        flex-basis: 25%;
    }

    .col-md-30 {
        flex-basis: 30%;
    }

    .col-md-33 {
        flex-basis: calc(100% / 3);
    }

    .col-md-40 {
        flex-basis: 40%;
    }

    .col-md-50 {
        flex-basis: 50%;
    }

    .col-md-80 {
        flex-basis: 80%;
    }

    /*  */


    .tab {
        flex-basis: calc(100% / 5 - 40px / 4);
        text-align: center;
    }
}


@media screen and (min-width: 1200px) {

    /* Column f-basis */

    .col-lg-16 {
        flex-basis: calc(100% / 6);
    }

    .col-lg-20 {
        flex-basis: 20%;
    }

    .col-lg-25 {
        flex-basis: 25%;
    }

    .col-lg-30 {
        flex-basis: 30%;
    }

    .col-lg-33 {
        flex-basis: calc(100% / 3);
    }

    .col-lg-40 {
        flex-basis: 40%;
    }

    .col-lg-50 {
        flex-basis: 50%;
    }

    .col-lg-80 {
        flex-basis: 80%;
    }

    /*  */


    .core-navbar {
        flex-wrap: nowrap;
        justify-content: center;
    }

}