@media screen and (min-width: 576px) {
    .sidebar {
        flex-basis: 250px;
        padding: 10px 20px;
    }

    .hidden {
        display: block;
    }

    .download {
        color: var(--text-grey);
        border-bottom: 1px solid var(--text-grey);
        padding: 10px 0;
    }

    .sidebar-bottom {
        left: 20px;
    }

    #small-logo {
        display: none;
    }

    #big-logo {
        min-width: 160px;
    }

}

@media screen and (min-width: 850px) {
    footer .col-30 {
        flex-basis: calc(30% - 10px);
    }
}


@media screen and (min-width: 1200px) {
    footer .col-20 {
        flex-basis: calc(20% - 10px);
    }

    footer .col-40 {
        flex-basis: calc(40% - 10px);
    }

}