/* Custom */

:root {
    --text-grey: #707070;

    --lime-green: #abff2e;
}

/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 13px;
}

img {
    max-width: 100%;
}

/*** Utilities ***/

/* Column f-basis */

.col-16 {
    flex-basis: calc(100% / 6);
}

.col-25 {
    flex-basis: 25%;
}

.col-30 {
    flex-basis: 30%;
}

.col-33 {
    flex-basis: calc(100% / 3);
}

.col-40 {
    flex-basis: 40%;
}

.col-50 {
    flex-basis: 50%;
}

/*  */

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
}

/* Colors */

.gray {
    color: #4e4e4e;
}

/*-------- MAIN --------*/

main {
    background-color: darkcyan;
    height: calc(100vh - 100px);
    overflow-y: auto;

    display: flex;
}

/*---- Sidebar ----*/

.sidebar {
    flex-basis: 50px;
    background-color: black;
    flex-shrink: 0;

    padding: 10px 10px;

    position: relative;
}

.sidebar-logo img {
    max-width: 40px;
}

/* Sidebar-home */

.sidebar-home img {
    width: 36px;
}

.home-section {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.sidebar a {
    color: var(--text-grey);
}

/* Playlist section */

.playlist {
    margin: 20px 0;
    color: var(--text-grey);
}

.playlist h3 {
    color: white;
}

.new-playlist i {
    font-size: 50px;
    margin: 30px 0;
    color: lightgray;
    padding-right: 10px;
    border-radius: 0px;
}

.playlist ul {
    overflow-y: auto;
}

.playlist li {
    margin: 15px 0;
}

/* Sidebar bottom */

.download img {
    width: 15px;
    margin-right: 10px;
    margin-left: 5px;
}

.download,
.user {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.user a {
    color: white
}

.user img {
    width: 25px;
    background-color: grey;
    border-radius: 50%;
    margin-right: 10px;
}

.sidebar-bottom {
    position: absolute;
    bottom: 20px;
    left: 10px;
    width: 80%;
}

/*---- main-content ----*/

/*Core Header */

.core-header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    height: 90px;
    text-align: right;
    padding: 30px 10px;
    font-size: 12px;
}

.core-header a {
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 30px;
    display: inline-block;
}

/* Core content */

.core-content {
    position: relative;
    flex-grow: 1;
    background-color: #141821;
    overflow-y: auto;
}

/* Core Topnav */

.core-top-menu {
    padding: 10px;
    max-width: 700px;
    margin: 0 auto;
}

.core-navbar {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}

.tab {
    flex-basis: calc(100% / 4 - 30px / 4);
    text-align: center;
}

.tab a {
    color: var(--text-grey);
}

/* Core Sections */

section {
    color: white;
    padding: 30px 10px;
}

section .row {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    margin-left: -10px;
}

.row .card {
    text-align: center;
}

.card img {
    padding: 10px;
}

h5 {
    color: var(--text-grey);
    margin-top: 10px;
}

/* Most Popular */

#most-popular img {
    border-radius: 50%;
}

/*-------- FOOTER --------*/

footer {
    height: 100px;
    background-color: #292929;
    padding: 20px 10px;
    font-size: 12px;
}

footer button {
    background-color: transparent;
    border: none;
}

footer.row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Footer left */

.footer-left {
    display: flex;
    align-items: center;
    color: grey;
    max-width: 200px;
}

.current-song {
    display: flex;
    gap: 10px;
    align-items: center;
}

.current-song h4 {
    color: white;
    padding-bottom: 5px;
}

.current-song img {
    max-width: 25%;
}

.current-song-opt * {
    padding: 0 10px;
}

/* Footer middle */

.footer-mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}

.footer-mid * {
    color: white;
}

.player-icons {
    padding: 10px 0;
    width: 175px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fa-circle-play {
    padding: 0 10px;
}

.player-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    width: 100%;
}

.progress-bar {
    background-color: grey;
    flex-basis: 80%;
    margin: 0 10px;
    border-radius: 25px;

    /* Not the right solution, but it's a nice effect
    border-left: 25px solid white; */
}

.advance {
    border: 2px solid white;
    width: 20%;
    border-radius: 25px;

    position: relative;
}

.round-btn {
    width: 15px;
    aspect-ratio: 1;
    background-color: white;
    border-radius: 50%;

    position: absolute;
    top: -7px;
    left: 90%;

    display: none;
}

/* Footer right */

.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: calc(100% / 3);
}

.footer-right button {
    margin: 0 2%;
}

.footer-right * {
    color: white;
}

.volume-bar {
    background-color: grey;
    width: 100px;
    margin: 0 10px;
    border-radius: 25px;
}

/* Bonus Active Sidebar*/

.active {
    position: relative;
}

.sidebar-top .active::before {
    content: '';
    height: 30px;
    border: 1px solid var(--lime-green);
    position: absolute;
    top: 5px;
    left: -10px;
}

/* Bonus Active Top Navbar*/

.core-navbar .active::after {
    content: '';
    width: 25%;
    height: 2px;
    background-color: var(--lime-green);
    margin: 3px auto;

    display: block;
}

/* Bonus card Overlay hover */

.card figure {
    position: relative;
}

.play-song {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    display: none;
}

.card:hover .play-song {
    display: flex;
}

.play-song i {
    font-size: 50px;
}

/* Bonus size hover */

.core-header a:hover {
    transform: scale(1.2);
}

.player-icons .fa-circle-play:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* Bonus white hover */

.tab:hover a,
.playlist ul li:hover,
.new-playlist:hover *,
.sidebar a:hover,
.footer-left i:hover {
    color: white;
    cursor: pointer;
}

/* Bonus underline hover */

.current-song p:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* Bonus green bar */

.progress-bar:hover .advance,
.volume-bar:hover .advance {
    border-color: var(--lime-green);
    cursor: pointer;

}

.progress-bar:hover .round-btn,
.volume-bar:hover .round-btn {
    display: block;
}