/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*-------- MAIN --------*/

main {
    background-color: lightcoral;
    height: calc(100vh - 120px);
    overflow: auto;

    display: flex;
}

/*---- Sidebar ----*/

.sidebar {
    width: 60px;
    height: calc(100vh - 120px);
    background-color: darkcyan;
    position: fixed;
    top: 0;
    left: 0;
}

/*---- main-content ----*/

.core-content {
    position: relative;
    flex-grow: 1;
    padding-left: 60px;
}

/* Header */

.core-header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 0, 0.548);
    height: 90px;
}

/*-------- FOOTER --------*/

footer {
    height: 120px;
    background-color: darkolivegreen;
}