/* Css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Generics */

body {
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

/* Utilities */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*-------- Main --------*/

main {
    background-color: lightcoral;
    height: calc(100vh - 120px);
    overflow: auto;

    display: flex;
}

/*---- Sidebar ----*/

.sidebar {
    width: 60px;
    background-color: darkcyan;
}

/*-------- Footer --------*/

footer {
    height: 120px;
    background-color: darkolivegreen;
}